<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.    
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "io.tams.ULApps"
        version   = "5.4.14">

  <name>TAMS UL Mobile Apps</name>
  <description>
    A mobile app for UL. Collection of features to improve portability, efficiency and productivity. Currently includes Demo Equipment Status Request App and UL Customer Feeback App. Author: Umer Pasha
  </description>

  <author href="http://www.umerpasha.com" email="upasha@tams.com">
    Umer Pasha
  </author>


  <!-- Application start page-->
  <content src="index.html"/>
  <!-- Umer: Set this and comment above to run as a web app-->
  <!--<content src="http://tusspdev1wfe3/VirtualApps/busopswebs/TAMSULApps/index.html"/>-->
  <!--<content src="https://intranetqa.tams.com/VirtualApps/busopswebs/TAMSULApps/index.html"/>-->


  <!--
	  <preference name="loglevel" value="DEBUG" />
      <preference name="splashscreen" value="resourceName" />
      <preference name="backgroundColor" value="0xFFF" />
      <preference name="loadUrlTimeoutValue" value="20000" />
      <preference name="InAppBrowserStorageEnabled" value="true" />
      <preference name="disallowOverscroll" value="true" />
    -->

  <!-- Customize your app and platform with the preference element. -->
  <!-- <preference name='phonegap-version' value='cli-5.4.1' />				all: current version of PhoneGap -->
  <preference name="phonegap-version" value="cli-6.5.0" />


  <preference name="orientation"                value="default" />
  <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device"              value="universal" />
  <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen"                 value="true" />
  <!-- all: hides the status bar at the top of the screen -->
  <preference name="webviewbounce"              value="false" />
  <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
  <preference name="prerendered-icon"           value="true" />
  <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
  <preference name="stay-in-webview"            value="true" />
  <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
  <preference name="ios-statusbarstyle"         value="black-opaque" />
  <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
  <preference name="detect-data-types"          value="true" />
  <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
  <preference name="exit-on-suspend"            value="false" />
  <!-- ios: if set to true, app will terminate when home button is pressed -->
  <preference name="show-splash-screen-spinner" value="true" />
  <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
  <preference name="auto-hide-splash-screen"    value="true" />
  <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
  <preference name="disable-cursor"             value="false" />
  <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
  <preference name="android-minSdkVersion"      value="7" />
  <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
  <preference name="android-installLocation"    value="auto" />
  <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

  <!-- Plugins -->

  <!-- Core plugins -->
  <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
  <plugin name="cordova-plugin-battery-status" source="npm" />
  <plugin name="cordova-plugin-camera" source="npm" />
  <plugin name="cordova-plugin-media-capture" source="npm" />
  <plugin name="cordova-plugin-console" source="npm" />
  <plugin name="cordova-plugin-contacts" source="npm" />
  <plugin name="cordova-plugin-device" source="npm" />
  <plugin name="cordova-plugin-device-motion" source="npm" />
  <plugin name="cordova-plugin-device-orientation" source="npm" />
  <plugin name="cordova-plugin-dialogs" source="npm" />
  <plugin name="cordova-plugin-file" source="npm" />
  <plugin name="cordova-plugin-file-transfer"/>
  <plugin name="cordova-plugin-geolocation" source="npm" />
  <plugin name="cordova-plugin-globalization" source="npm" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
  <plugin name="cordova-plugin-media" source="npm" />
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-plugin-splashscreen" source="npm" />
  <plugin name="cordova-plugin-vibration" source="npm" />


  <!-- Third party plugins -->
  <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->

  <!--<gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0" />-->
  <plugin name="cordova-plugin-barcodescanner" source="npm" />
  <gap:plugin name="cordova-plugin-touchid" source="npm" />

  <gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="true">
    <string>We would like to log the device's location.</string>
  </gap:config-file>

  <!-- Define app icon for each platform. -->

  <icon src="res/icon.png" />
  <splash src="res/splash.png" />

  <platform name="ios">
    <icon src="res/icons/ios/icon-small.png" width="29" height="29"/>
    <icon src="res/icons/ios/icon-small-2x.png" width="58" height="58"/>
    <icon src="res/icons/ios/icon-40.png" width="40" height="40"/>
    <icon src="res/icons/ios/icon-40-2x.png" width="80" height="80"/>
    <icon src="res/icons/ios/icon-50.png" width="50" height="50"/>
    <icon src="res/icons/ios/icon-50-2x.png" width="100" height="100"/>
    <icon src="res/icons/ios/icon.png" width="57" height="57"/>
    <icon src="res/icons/ios/icon-2x.png" width="114" height="114"/>
    <icon src="res/icons/ios/icon-60.png" width="60" height="60"/>
    <icon src="res/icons/ios/icon-60-2x.png" width="120" height="120"/>
    <icon src="res/icons/ios/icon-60-3x.png" width="180" height="180"/>
    <icon src="res/icons/ios/icon-72.png" width="72" height="72"/>
    <icon src="res/icons/ios/icon-72-2x.png" width="144" height="144"/>
    <icon src="res/icons/ios/icon-76.png" width="76" height="76"/>
    <icon src="res/icons/ios/icon-76-2x.png" width="152" height="152"/>
    <splash src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480"/>
    <splash src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
    <splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
    <splash src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334"/>
    <splash src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208"/>
    <splash src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024"/>
    <splash src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048"/>
  </platform>
  <platform name="android">
    <icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>
    <splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png"/>
    <splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png"/>
    <splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png"/>
    <splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png"/>
  </platform>
  <platform name="wp8">
    <icon src="res/icons/wp8/ApplicationIcon.png" width="99" height="99"/>
    <icon src="res/icons/wp8/Background.png" width="159" height="159"/>
  </platform>
  <platform name="windows">
    <icon src="res/icons/windows8/logo.png" width="150" height="150"/>
    <icon src="res/icons/windows8/smalllogo.png" width="30" height="30"/>
    <icon src="res/icons/windows8/storelogo.png" width="50" height="50"/>
  </platform>

  <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
  <access origin="*"/>
  <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->
</widget>




