
.body {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif !important;
    font-size:12px;
}

.ui-header {
	min-height: 72px;
}

.ui-footer {
	display:none;
}

.header-table {
	height: 72px;
}

.header-left {
	text-align: left;
	vertical-align: bottom;
	width: 100px;
}
.header-right {
	text-align: right;
	vertical-align: bottom;
	width: 100px;
}

.header-middle{
	text-align: center;
	vertical-align: bottom;
}
.header-back-button {
	padding-left: 10px;
	padding-right: 0px;
	display: inline-block;
}
.header-menu-button {
	padding-right: 0px;
	display: inline-block;
}

.appLogoBackLink,
.appLogoLink
 {
}

#pgLogin > div
{
    text-align:center;
}

#pgLogin .logo-div {
	font-size: 12px;
}

#pgLogin .logo-div img {
	width: 355px;
}

#pgLogin .login-table {
    max-width: 460px;
}
#pgLogin  .login-label {
    font-weight: bold;
    padding-top: 10px;
}

#pgLogin #td-error {
	color: red;
	text-align: center;
}

#pgLogin  .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#pgLogin  .ui-footer {
    font-size: 10px;
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}

#pgLogin .copyright {
	font-size: 10px;
	margin-top: 30px;
}

#pgLogin .logo-div {
	font-size: 16px;
	font-weight: bold;
}


#pgSearch #div-search-bar-wrapper {
    margin: 0;
    text-align: center;
}

#pgSearch #filterDocumentType {
}

#pgSearch .search-item {
    width: 100%;
}

#pgSearch .catalog-img {
    padding: 5px 0 2px 2px;
    text-align: center;
    vertical-align: top;
    width: 70px;
}

#pgSearch .catalog-img div {
	border: 1px solid #ddd;
	padding: 5px;
}

#pgSearch .img-icon {
    height: 50px;
}

#pgSearch .div-catalog-info {
	padding-left: 10px;
}

#pgSearch .div-catalog-add {
	text-align: right;
}
#pgSearch .search-item ,
#pgSearch .div-modality{
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

#pgSearch #divSearchResults td {
	font-size: 14px;
}


#pgHistory #divHistoryResults {
	font-size: 14px;
}

#pgHistory .table-catalog-info {
    width: 100%;
}

#pgHistory .history-expanded {
    background-image: url("../Images/toggle_minus.png");
    background-position: -3px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}

#pgHistory .history-collapsed {
    background-image: url("../Images/toggle_plus.png");
    background-position: -3px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}
#pgHistory .div-history-status-info {
    margin: 0;
    padding: 0 0 0 20px;
}

#pgHistory .history-item-section-header {
    font-weight: bold;
    padding-top: 10px;
}

#pgHistory #divHistoryStatusDetails table { 
    border-spacing: 0px;
    border-collapse: separate;
}

#pgHistory #divHistoryStatusDetails {
    clear: both;
    display: none;
    padding-top: 10px;
}

#pgHistory .history-item-title {
    border: 1px solid #dddddd;
    font-size: 1em;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

#pgHistory .history-item-value {
    border: 1px solid #dddddd;
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

#pgHistory .divRowSeparator {
	height: 4px;
	border-bottom: 1px solid #ddd;
}




#pgAddStatus #divAddStatus {
	font-size: 14px;
}
#pgAddStatus .section-heading {
    background-color: #800000;
    color: white;
    font-size: 16px;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    text-align: center;
}

#pgAddStatus .table-add-status {
    background-color: transparent;
    width: 100%;
	border-bottom: 1px solid #ddd;
}

#pgAddStatus .add-status-buttons {
	width: 100%;
}

#pgAddStatus .td-error-message {
    color: red;
    border: none !important;
    display:none;
    padding:0px !important;
	text-align:center;
}

#pgAddStatus .error-message {
    text-align:center;
    color:red;
}

#pgAddStatus .add-new-status,
#pgAddStatus .add-status  {
	display: none;
}

#pgAddStatus .radio-button-td {
	text-align: right;
}

#pgAddStatus .common-button {
	word-wrap: break-word !important;
	white-space: normal !important;
}

