
.body {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif !important;
    font-size:12px;
}

.ui-header {
	min-height: 72px;
}

.ui-simpledialog-container .ui-header {
	min-height: 0px;
}

.ui-footer {
	display:none;
}

.header-table {
	height: 72px;
}

.header-left {
	text-align: left;
	vertical-align: bottom;
	width: 100px;
}
.header-right {
	text-align: right;
	vertical-align: bottom;
	width: 100px;
}

.header-middle{
	text-align: center;
	vertical-align: bottom;
}
.header-back-button {
	padding-left: 10px;
	padding-right: 0px;
	display: inline-block;
}
.header-menu-button {
	padding-left: 10px;
	padding-right: 0px;
	display: inline-block;
}

.appLogoBackLink {
	margin-right: 5px;
}
.appLogoLink
 {
}

.no-connection-warning {
	background-color: #F6D8CE;
	border: 2px dashed #FF0000;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 0.8em;
}

.ui-radio .ui-btn-active {
    background-color: red !important;
    border-color: red !important;
}

#pgLogin > div
{
    text-align:center;
}

#pgLogin .logo-div {
	font-size: 12px;
}

#pgLogin .logo-div img {
	width: 355px;
}

#pgLogin .login-table {
    max-width: 460px;
}
#pgLogin  .login-label {
    font-weight: bold;
    padding-top: 10px;
}

#pgLogin #td-error {
	color: red;
	text-align: center;
}

#pgLogin  .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#pgLogin  .ui-footer {
    font-size: 10px;
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}

#pgLogin .copyright {
	font-size: 10px;
	margin-top: 30px;
}

#pgLogin .logo-div {
	font-size: 16px;
	font-weight: bold;
}


#pgSearch #div-search-bar-wrapper {
    margin: 0;
    text-align: center;
}

#pgSearch #filterDocumentType {
}

#pgSearch .search-item {
    width: 100%;
}

#pgSearch .catalog-img {
    padding: 5px 0 2px 2px;
    text-align: center;
    vertical-align: top;
    width: 70px;
}

#pgSearch .catalog-img div {
	border: 1px solid #ddd;
	padding: 5px;
}

#pgSearch .img-icon {
    height: 50px;
}

#pgSearch .div-catalog-info {
	padding-left: 10px;
}

#pgSearch .div-catalog-add {
	text-align: right;
}
#pgSearch .search-item ,
#pgSearch .div-modality{
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

#pgSearch #divSearchResults td {
	font-size: 14px;
}


#pgHistory #divHistoryResults {
	font-size: 14px;
}

#pgHistory .table-catalog-info {
    width: 100%;
}

#pgHistory .ui-btn-icon-notext:after {
	background-color: red !important;
	
}

#pgHistory .div-history-status-info .ui-btn, #pgHistory .ui-btn:visited {
	border-color: red !important;
	margin: 0px;
}

#pgHistory .history-expanded .collapsed-expanded-icon,
#pgHistory .history-collapsed .collapsed-expanded-icon
{
	width: 32px;
	padding-top: 0px;
}

#pgHistory .history-expanded .collapsed-expanded-icon > div {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20y%3D%225%22%20style%3D%22fill%3A%23FFFFFF%3B%22%20width%3D%2214%22%20height%3D%224%22%2F%3E%3C%2Fsvg%3E");
    cursor: pointer;
    height: 22px;
	width: 22px;
	
	background-repeat: no-repeat;
	left: 50%;
    top: 50%;
	background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0em;
}

#pgHistory .history-collapsed .collapsed-expanded-icon > div {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	
    cursor: pointer;
    height: 22px;
	width: 22px;
	
	background-repeat: no-repeat;
	left: 50%;
    top: 50%;
	background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0em;
}
#pgHistory .div-history-status-info {
    margin: 0;
    padding: 0;
}

#pgHistory .history-item-section-header {
    font-weight: bold;
    padding-top: 10px;
}

#pgHistory #divHistoryStatusDetails table { 
    border-spacing: 0px;
    border-collapse: separate;
}

#pgHistory #divHistoryStatusDetails {
    clear: both;
    display: none;
    padding-top: 10px;
}

#pgHistory .history-item-title {
    border: 1px solid #dddddd;
    font-size: 1em;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

#pgHistory .history-item-value {
    border: 1px solid #dddddd;
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

#pgHistory .divRowSeparator {
	height: 4px;
	border-bottom: 1px solid #ddd;
}




#pgAddStatus #divAddStatus {
	font-size: 14px;
}
#pgAddStatus .section-heading {
    background-color: #000;
    color: white;
    font-size: 16px;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    text-align: center;
}

#pgAddStatus .table-add-status {
    background-color: transparent;
    width: 100%;
	border-bottom: 1px solid #ddd;
}

#pgAddStatus .add-status-buttons {
	width: 100%;
}

#pgAddStatus .td-error-message {
    color: red;
    border: none !important;
    display:none;
    padding:0px !important;
	text-align:center;
}

#pgAddStatus .error-message {
    text-align:center;
    color:red;
}

#pgAddStatus .add-new-status,
#pgAddStatus .add-status  {
	display: none;
}

#pgAddStatus .radio-button-td {
	text-align: right;
}

#pgAddStatus .common-button {
	word-wrap: break-word !important;
	white-space: normal !important;
}

#pgAddStatus .required {
	font-weight: bold;
	color: red;
	padding-left: 5px;
}


#divHelpContent p {
	margin: 5px;
}
#divHelpContent p.MsoNormal {
	margin-left: 0px;
}


#divHelpContent a,
#divHelpContent 
 {
	font-size: 1em;
}

#divHelpContent h1 {
	font-size: 1.1em;
}
#divHelpContent h2 {
	font-size: 1.1em;
}

#divHelpContent h1.header-title {
	font-size: 1.3em;
}


